.section-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container-form {
    min-width: 400px;
    max-width: 400px;
    .container-input {
      display: flex;
      flex-direction: column;
      &__label {
        padding-bottom: 6px;
      }
    }
    &__button {
      margin-top: 2rem;
    }
  }
}
