<section class="section-form">
  <h2>Registrar Producto</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="container-form">
    <div class="container-input">
      <label class="container-input__label" for="nombreProducto"
        >Nombre del producto:</label
      >
      <input type="text" formControlName="producto" pInputText />
    </div>
    <div class="container-input">
      <label class="container-input__label" for="nombreProducto"
        >Inventario:</label
      >
      <input type="number" formControlName="stock" pInputText />
    </div>
    <div class="container-input">
      <label class="container-input__label" for="nombreProducto">Precio:</label>
      <input type="number" formControlName="precio" pInputText />
    </div>
    <div class="container-input">
      <button
        pButton
        pRipple
        label="Submit"
        class="p-button-success container-form__button"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        (click)="onCancel()"
        label="Cancel"
        class="p-button-outlined p-button-danger"
      ></button>
    </div>
  </form>
</section>
