<div class="table">
  <p-table [value]="products" [tableStyle]="{ 'min-width': '7rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th id="product">Producto</th>
        <th id="stock">Stock</th>
        <th id="precio">Precio</th>
        <th id="edit">Editar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.description }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-user-edit"
            class="p-button-text"
            (click)="editProduct(product)"
          ></button>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-trash            "
            class="p-button-danger p-button-text"
            (click)="deleteProduct(product)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
